<html>
    <head>
        <title>Sophie's Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sophie's Blog!</a></h1>
        </div>
        {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
    {% endfor %}
        <div>
            <p>stuff</p>

            <h2><a href="">My first post</a></h2>
            <p>Why dont white bears float? Because they are polar!</p>
        </div>

        <div>
            <p>published: 08.02.2017</p>
            <h2><a href="">My second post</a></h2>
            <p>What does a thermometer wear for underwear? Kelvin Klein!</p>
        </div>
    </body>
</html>
