<html>
    <head>
        <title>Sophie's Blog!</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sophie's Blog!</a></h1>
        </div>

        <div>
            <p>published: 08.02.2017</p>
            <h2><a href="">My first post</a></h2>
            <p>Why dont white bears float? Because they are polar!</p>
        </div>

        <div>
            <p>published: 08.02.2017</p>
            <h2><a href="">My second post</a></h2>
            <p>What does a thermometer wear for underwear? Kelvin Klein!</p>
        </div>
    </body>
</html>
